{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="{% static 'home/assets/favicon.ico' %}" />
        <link href="{% static 'home/css/bootstrap-icons.css' %}" rel="stylesheet" />
        <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'h_home' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-wrench-adjustable-circle" viewBox="0 0 16 16">
                            <path d="M12.496 8a4.5 4.5 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11q.04.3.04.61"/>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-1 0a7 7 0 1 0-13.202 3.249l1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.5 4.5 0 0 1-1.592-.29L4.747 14.2A7 7 0 0 0 15 8m-8.295.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27z"/>
                        </svg>
                        EU Parts Hub
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link" href="{% url 'h_home' %}">Home</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'h_categories' %}">See All Category</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    {% for c in categories %}
                                    <li><a class="dropdown-item" href="{% url 'h_products' category_slug=c.slug %}">{{c.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'h_brands' %}">Brands</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'h_about' %}">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'h_contact' %}">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'h_faq' %}">FAQ</a></li>
                        </ul>
                        <a href="{% url 'h_get_request' %}" class="d-flex btn btn-outline-light">
                            <i class="bi-cart-fill me-1"></i>
                            Get Request
                        </a>
                    </div>
                </div>
            </nav>
            {% block content %}

            {% endblock %}
        </main>
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; EU Parts Hub {% now "Y" %}</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'home/js/scripts.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery-3.7.1.min.js' %}"> </script>
        <script src="{% static 'dashboard/js/jquery.dataTables.min.js' %}"> </script>
        <script src="{% static 'dashboard/js/sweetalert2.all.min.js' %}"> </script>

        {% if messages %}
        {% for message in messages %}
        <script>
            Swal.fire({
                icon: "{{message.tags}}",
                text: "{{message}}",
            });
        </script>
        {% endfor %}
        {% endif %}
        
        {% block script %}{% endblock %}
    </body>
</html>
