{% extends 'dashboard/_layout.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-4 mt-4">
    <div class="card text-dark bg-light mb-3">
        <div class="card-header"><b>Product List</b></div>
        <div class="card-body">
            {% csrf_token %}
            <table class="table table-hover" style="width: 100%;" id="productDatatable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Name</th>
                        <th style="text-align: right;"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer">
            <a href="{% url 'create_product' %}" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus"></i> New Product</a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var csrfToken = $('[name=csrfmiddlewaretoken]').val();

    var table = $('#productDatatable').DataTable({
        processing: true,
        serverSide: true,
        responsive: true,
        ordering: false,
        ajax: {
            url: '/web/product-list/',
            type: 'GET',
            dataSrc: 'data',
            data: function (d) {
                d.start = d.start || 0;
                d.length = d.length || 10;
                return d;
            },
        },
        columns: [
            { data: '0' },
            { data: '1' },
            { data: '2' },
            { data: '3' },
            {
                data: null,
                render: function (data, type, row) {
                    return '<div style="text-align: right;"> \
                                <a class="btn btn-success btn-sm update-btn" href="/web/update-product/' + row[0] + '"><i class="fa-solid fa-pen-to-square"></i> Update</a> \
                                <button class="btn btn-danger btn-sm delete-btn" data-row-id="' + row[0] + '"><i class="fa-solid fa-trash"></i> Delete</button> \
                            </div>';
                },
            },
        ],
    });

    $('#productDatatable').on('click', '.delete-btn', function () {
        var confirmed = confirm('Are you want to sure delete this product?');

        if (confirmed) {
            var rowId = $(this).data('row-id');
            $.ajax({
                type: 'POST',
                url: '/web/delete-product/' + rowId + '/',
                data: {},
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function (response) {
                    alert(response.message);
                    table.ajax.reload();
                },
                error: function (response) {
                    alert(response.message);
                }
            });
        }
    });
</script>
{% endblock %}